<% content_for :title do %>CAMSGlobal<% end %>


<!-- search form -->
<%= render :partial => "shared/searchform" %> 

<!-- banner image -->
<img id="primary_navigation_image" src="/images/banner_whoweare.jpg" alt="" />

<!-- primary navigation -->
<%= render :partial => "shared/primarynav", :locals => { :active => "homewho" } %>

<div id="left_menu_navigation">
	<ul>
		<li 				<%= link_to "Who We Work With",	homepartners_path %></li>
		<li 				<%= link_to "Advisors", 		homeadvisors_path %></li>
		<li class="active"  <%= link_to "Team",		 		hometeam_path %></li>
</ul>
</div> <!-- ends left_menu_navigation -->


<div id="left_menu_content">
	<div class="text">

		<% @posts.each do |post| %>
  			<%= post.content %>
		<% end %>

	</div>
</div> <!-- ends left_menu_content -->